*{
box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font: poppins;
}

#main{
  width: 100%
hight: 100%
position: relative;
}

nav {
  display: flix;
  justify-content: space-around
  align-item: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

.logo img{
  height: 45px;
}

.menu{
  list-style: none;
display: flex;
}

.menu li a{
  hight: 40px;
  line hight: 43px;
  margin: 3px;
  padding: 0px 22;
  display: flex;
  font-size: 1em;
  text-teansform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
a {
  text-decoration: none;
}

.image{
  width: 900px;
  height: 900px;
}

.image img{
  width:100%;
  hight: 100%
  object-fit: contain;
}
.Content{
  display: flix;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%
  right: 50%
  transform: translate(-50%, -50%);
}